header, section, footer
  text-align: center

header, section, footer
  align-items: center
  display: flex
  flex-direction: column
  justify-content: center

p
  font-size: calc(90px + 2vmin)

//#order
  background-color: $CS

//#prods
  background-color: $CP

//#teach
  background-color: $CS

//#about
  background-color: $CP
