<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<security>
          <requestFiltering>
               <hiddenSegments>
                   <add segment="package.json" />
                   <add segment="package-lock.json" />
				   <add segment=".package-lock.json" />
               </hiddenSegments>
           </requestFiltering>
       </security>
    </system.webServer>
</configuration>