{% load static %}<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#333333">
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#55d7ff">

  <title>تکنو360</title>

  {% comment %}<link href="{% static "favicon.ico" %}" rel="icon">{% endcomment %}
  <link href="{% static "node_modules/bootstrap/dist/css/bootstrap.rtl.css" %}" rel="stylesheet">
  {% comment %}<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">{% endcomment %}
  <link href="{% static "css/all.css" %}" rel="stylesheet">
  <link href="{% static "" %}css/{{ name }}.css" rel="stylesheet">
  <link rel="manifest" href="{% static "manifest.json" %}">

  <script src="{% static "node_modules/jquery/dist/jquery.slim.js" %}"></script>
  <script src="{% static "node_modules/bootstrap/dist/js/bootstrap.bundle.js" %}"></script>
  <script src="{% static "js/all.js" %}" type="module"></script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6PTGZ54J1Z"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-6PTGZ54J1Z');
  </script>
</head>
<body>
<main class="container-fluid">
  {% include html %}
</main>
<script src="{% static "" %}js/{{ name }}.js" type="module"></script>
</body>
</html>