{% load static %}<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#35363A">

  <title>تکنو360</title>

  {% comment %}<link href="{% static "favicon.ico" %}" rel="icon">{% endcomment %}
  <link href="{% static "node_modules/bootstrap/dist/css/bootstrap.rtl.css" %}" rel="stylesheet">
  <link href="{% static "node_modules/material-components-web/dist/material-components-web.min.css" %}"
        rel="stylesheet">
  {% comment %}<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">{% endcomment %}
  <link href="{% static "all.css" %}" rel="stylesheet">

  <script src="{% static "node_modules/jquery/dist/jquery.slim.js" %}"></script>
  <script src="{% static "node_modules/bootstrap/dist/js/bootstrap.bundle.js" %}"></script>
  <script src="{% static "node_modules/material-components-web/dist/material-components-web.min.js" %}"></script>
</head>
<body>
<main class="container-fluid">
  <header class="vh-100" id="intro">
  </header>

  <section class="vh-100" id="order">
  </section>

  <section class="vh-100" id="prods">
  </section>

  <section class="vh-100" id="teach">
  </section>

  <footer class="vh-100" id="about">
  </footer>
</main>
</body>
</html>